<style>
.naboutbg{ height:auto;background:#474a4c; margin:65px auto; padding-top:20px; padding-bottom:20px;}
.naboutbg ul{max-width:1500px;margin:0px auto;}
.naboutbg ul li div{ height:140px;background:url({{ 'nabico1.png' | asset_url }}) no-repeat center top;}
.naboutbg ul li div.abico2{background:url({{ 'nabico2.png' | asset_url }}) no-repeat center top;}
.naboutbg ul li div.abico3{background:url({{ 'nabico3.png' | asset_url }}) no-repeat center top;}
.naboutbg ul li div.abico4{background:url({{ 'nabico4.png' | asset_url }}) no-repeat center top;}
.naboutbg ul li p{color:#fff; text-align:center; line-height:26px;}
.naboutbg ul li span{color:#fff; text-align:center; line-height:26px;}
.naboutbg ul li p{padding-top:85px;}
.naboutbg ul li span{display:block; width:160px; margin:0 auto; border-top:1px solid white;}
</style>
<section class="naboutbg">
	<ul class="container-fluid row">
    	<li class="col-md-3 col-xs-6">
        	<div class="abico1">
            	<p>2006</p>
                <span>Established in</span>
            </div>
        </li>
        <li class="col-md-3 col-xs-6">
        	<div class="abico2">
            	<p>1500+</p>

                <span>Trained workers</span>
            </div>
        </li>
        <li class="col-md-3 col-xs-6">
        	<div class="abico3">
            	<p>100+</p>
                <span>Export countries</span>
            </div>
        </li>
        <li class="col-md-3 col-xs-6">
        	<div class="abico4">
            	<p>1000 millions +  </p>
                <span>GMV</span>
            </div>
        </li>
    </ul>
</section>

{% schema %}
    {
      "name": "Rich text 2",
      "tag": "section",
      "class": "section",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Section title",
          "default": "Statistics"
        }
      ],
      "presets": [
        {
          "name": "Rich text 2",
          "category": "Custom"
        }
      ],
      "disabled_on": {
        "groups": ["header", "footer"]
      }
    }
    {% endschema %}
    