
@keyframes btn-shake{
    0%{
        transform: matrix3d(3px,0,0);
    }
    50%{
        transform: matrix3d(0,0);
    }
    100%{
        transform: matrix3d(0,0);
    }
}

.btn-shake{
    animation-name: btn-shake;
    animation-duration: 2s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-delay: 2s;
}