
@keyframes btn-shake{
    0%{
        transform: translateX(0)
    }
    40%{
        transform: translateX(-20%)
    }

    80%{
        transform: translateX(20%)
    }

    100%{
        transform: translateX(00);
    }
}

.btn-shake{
    animation-name: btn-shake;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: 1s;
    color: red!important;
}